.container-content {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.title {
  padding: 2rem 0;
}

.container-content > img {
  width: 100%;
  max-height: 18.75rem;
  object-fit: cover;
}

.container-content > .description {
  padding: 2rem 0;
}
