:root {
  --black: #111111;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--black);
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}
